<div class="checkbox">
    <label>        
        <input type="checkbox" {{#checked}}checked{{/checked}} {{#autopass}}checked{{/autopass}} {{#auto}}disabled class="autocompletioncheck"{{/auto}} value="" data-mod="{{mod.id}}"
        data-modulename="{{mod.name}}"
        data-id="{{mod.id}}"
        data-image="{{completionicon}}">
    </label>
</div>