<div class="coursenav p-l-1 p-r-1 m-b-2">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</div>
<div class="courseactions m-a-1">
    {{#editon}}
    <div class="btn-group m-r-1" role="group" aria-label="Edit course group">
        <a href="{{{editon}}}" class="btn btn-primary btn-course">
            <i class="fa fa-pencil"></i> {{#str}}edit{{/str}}
        </a>
    </div>
    {{/editon}}
    {{#editoff}}
    <div class="btn-group m-r-1" role="group" aria-label="Edit course group">
        <a href="{{{editoff}}}" class="btn btn-primary  btn-course">
            <i class="fa fa-pencil"></i> {{#str}}done, dbtransfer{{/str}}
        </a>
    </div>
    {{/editoff}}
    <div class="btn-group m-r-1" role="group">
        <button type="button" class="btn btn-secondary btn-course"><i class="fa fa-cog"></i> Course settings</button>
        <button id="coursesettings" type="button" class="btn btn-secondary dropdown-toggle btn-course" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu" aria-labelledby="coursesettings">
            <a class="dropdown-item" href="#">General</a>
            <a class="dropdown-item" href="#">Description</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Course format</a>
            <a class="dropdown-item" href="#">Appearance</a>
            <a class="dropdown-item" href="#">Files and uploads</a>
            <a class="dropdown-item" href="#">Completion tracking</a>
            <a class="dropdown-item" href="#">Groups</a>
            <a class="dropdown-item" href="#">Role naming</a>
            <a class="dropdown-item" href="#">Tags</a>
        </div>
     </div>

</div>