<div class="list_coursemodule p-1">
    <div class="coursemodulecontent">
        {{{move}}}
        {{#url}}
        {{/url}}
        {{^url}}
            {{{contentwithoutlink}}}
        {{/url}}
        <div class="coursemoduletitle">
            {{{cmname}}}

        </div>
        <div class="pull-right">
            {{{completion}}}
        </div>
        <div class="pull-right">
            {{{modicons}}}
        </div>
        <div class="coursemoduledescription">
            {{{afterlink}}}
            {{{availability}}}
        </div>
        <div class="clearfix"></div>
    </div>
</div>