<div class="list_coursemodule p-3">
    <div class="coursemodulecontent">
        {{{move}}}
        <div class="coursemoduletitle">
            {{{cmname}}}
        </div>
        <div class="pull-right">
            {{{completion}}}
        </div>
        <div class="pull-right">
            {{{modicons}}}
        </div>
        <div>
            {{#url}}
            {{/url}}
            {{^url}}
                {{{contentwithoutlink}}}
            {{/url}}
        </div>
        <div class="coursemoduledescription">
            {{{afterlink}}}
            {{{availability}}}
        </div>
        <div class="clearfix"></div>
    </div>
</div>